*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Degular Display';
    src: url('/fonts/Degular/DegularDisplay-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Degular Display';
    src: url('/fonts/Degular/DegularDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Degular Display';
    src: url('/fonts/Degular/DegularDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Degular Display';
    src: url('/fonts/Degular/DegularDisplay-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Degular Display';
    src: url('/fonts/Degular/DegularDisplay-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: black;
  
}

html{
  color: black;
  scroll-behavior: smooth;
}


.custom-input input::placeholder {
    color: black !important;
    font-size: 16px !important;
  }

  .ant-btn{
    background-color: #BAE9FF !important;
    color: #000000 !important;
    font-weight: 600 !important ;
    padding: 11px 0 !important;
  }


.backgroundColor  {
    background: #7474BF;
    background: linear-gradient(90deg,rgba(116, 116, 191, 1) 0%, rgba(52, 138, 199, 1) 50%);
}

.bgTransparentColor{
  background-color: transparent !important;
  box-shadow: none;
  display: flex;
  justify-self: end;
}


.stripe-input {
  border: 1px solid #d1d5db;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  width: 100%;
}
.stripe-input input {
  background-color: transparent !important;
  color: #333 !important;
}

.loader {
  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}