@font-face {
    font-family: 'Degular Display';
    src: url('/fonts/Degular/DegularDisplay-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Degular Display';
    src: url('/fonts/Degular/DegularDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Degular Display';
    src: url('/fonts/Degular/DegularDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Degular Display';
    src: url('/fonts/Degular/DegularDisplay-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Degular Display';
    src: url('/fonts/Degular/DegularDisplay-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-input input::placeholder {
    color: black !important;
    font-size: 16px !important;
  }

  .ant-btn{
    background-color: #BAE9FF !important;
    color: #000000 !important;
    font-weight: 600 !important ;
    padding: 11px 0 !important;
  }